@import "/styles/_theme.scss";

AchievementSummary
{
    flex-shrink: 0;
    font-family: Poppins;

    Progress {
        margin-top: 3px;
    }
}

.meta
{
    gap: 8px;

    > *
    {
        align-items: center;
        gap: 2px;

        > *
        {
            
        }

        .mine
        {
            opacity: 1;
            color: $primary-blue;
            font-weight: 800;
        }
    }
}
